{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}List of worklogs!{% endblock %}

{% block content %}

<div class="container-fluid" style="padding-left: 50px; padding-right: 50px;">
    <div class="row">
        
        <div class="panel panel-default">
            <div class="panel-heading">Dates</div>
            <div class="panel-body">
                {{ form_errors(form) }}
                {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}
                <div class="form-group">
                    <label for="time_table_interval_startDate">StartDate</label>
                    {{ form_errors(form.startDate) }}
                    {{ form_widget(form.startDate) }}
                </div>
                <div class="form-group">
                    <label for="time_table_interval_endDate">EndDate</label>
                    {{ form_errors(form.endDate) }}
                    {{ form_widget(form.endDate) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        
        <form class="form-inline">
        </form>
        
        
        <table class="table table-responsive table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>WDays</th>
                    {% for day in period %}
                        <th>{{  day|date('D') }}<br>{{  day|date('m/d') }}</th>
                    {% endfor %}
                    <th>Worked&nbsp;Time</th>
                    <th>Available&nbsp;Time</th>
                    <th>Diff</th>
                </tr>
            </thead>
            
            {% for person in persons %}
                <tr>
                    <td class="{% if person.timeTable.total <= person.timeTable.workingInMs*0.9 %}danger{% else %}{% endif %}">{{ person.name }}</td>
                    <td>{{ person.timeTable.numberOfWorkingDays }}</td>
                    {% for day in period %}
                        {% if person.timeTable.isHoliday(day )%}
                            <td class="info">{{ person.timeTable.getByDate(day)|jiraHours }}</td>
                        {% elseif person.timeTable.off(day) %}
                            <td class="info">{{ person.timeTable.getByDate(day)|jiraHours }}</td>
                        {% elseif day|date('N')>5 %}
                            <td class="active">{{ person.timeTable.getByDate(day)|jiraHours }}</td>
                        {% else %}
                                {% set hours = person.timeTable.getByDateInHours(day) %}
                                <td class="{% if hours > 10 %}warning{% elseif hours <7 %}danger{% else %}success{% endif %}">
                                    {{ person.timeTable.getByDate(day)|jiraHours }}
                                </td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ person.timeTable.total|jiraHours }}</td>
                    <td>{{ person.timeTable.workingInMs|jiraHours }} </td>
                    <td>{{ (person.timeTable.total-person.timeTable.workingInMs)|jiraHours }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
 </div>
   
{% endblock %}
